.registerContainer{
    background-color: white;
    width: 30%;
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.registerTitle{
    font-size: 36px;
    font-weight: 600;
}

.inputregister{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:0.5rem 
}
.inputBox{
    width: 100%;
    border-radius: 20px;
    padding: 0.5rem;
    border: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.registerIcon{
    cursor: pointer;
    color: #CCCCCC;
}

.registerButton{
    background-color:#701518;
    color: white;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.registerButton:hover{
    background-color: #701518cb;
    transition: 0.3s;
}

.dividerregister{
    background-color: #CCCCCC;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    color: #CCCCCC;
    z-index: 0;
}
.ou{
    background-color: white;
    z-index: 1;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerLink{
    width: 70%;
    border-radius: 30px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #701518;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #701518;
}
.registerLink:hover{
    background-color: #701518;
    transition: 0.3s;
    color: white;
}